/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 += require bootstrap-tokenfield 
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "bootstrap-timepicker";
@import "font-awesome";
@import "bootstrap-slider";

@import "common.css.scss";

body {
  background-color: $background;
  margin-top: 70px;
}

.div-inline{ 
  display:inline-block !important;
  width: auto !important;
} 
.float-right{ float:right;}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0;
  font-family: PierSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: $black;

  background-image: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.input-bottom-line, 
.input-group-line-addon {
  opacity: 0.87;
  font-family: PierSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: $black;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
  overflow: hidden;
  resize: none;
}

.input-readonly {
  opacity: 0.87;
  font-family: PierSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: $black;

  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
  overflow: hidden;
  resize: none;
}

.tokenfield.focus,
.input-bottom-line:focus {
  border: 0;
  border-bottom: 2px solid #8a214a;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.tokenfield[readonly],
.input-bottom-line[readonly] {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
}

.input-bottom-line::-webkit-input-placeholder {
  opacity: 0.54;
  font-family: PierSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: $black;
}

.container {
  margin: auto;
  padding: 0px;
}

.top-10 {
  margin-top: 10px;
}

.top-5 {
  margin-top: 5px;
}

.top-15 {
  margin-top: 15px;
}

.top-20 {
  margin-top: 20px;
}

.top-25 {
  margin-top: 25px;
}

.top-50 {
  margin-top: 50px;
}

.top-70 {
  margin-top: 70px;
}

.top-130 {
  margin-top: 130px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-15 {
  margin-bottom: 15px;
}

.bottom--15 {
  margin-bottom: -15px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-25 {
  margin-bottom: 25px;
}

.bottom-50 {
  margin-bottom: 50px;
}

.bottom-100 {
  margin-bottom: 100px;
}

.left-5 {
  margin-left: 5px;
}

.left-10 {
  margin-left: 10px;
}

.left-15 {
  margin-left: 15px;
}

.left-30 {
  margin-left: 30px;
}

.left-60 {
  margin-left: 60px;
}

.right-15 {
  margin-right: 15px;
}

.right-30 {
  margin-right: 30px;
}

.right-60 {
  margin-right: 60px;
}

.padding-left-15 {
  padding-left: 15px;
}

table.sortable {
  th {
    cursor: pointer;
  }
}

    

@media only screen and (min-width : 320px) and (max-width: 768px) {
  .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
}

a {
  i.fa {
    margin-right: 5px;
  }
}

.custom-page-header {
  margin-bottom: 25px;
  margin-top: 70px;
}

.table-container {
  table.table {
    td { vertical-align: middle }
  }
}

@media (min-width: 320px) and (max-width: 992px) {

  [class*="col-"]{
      margin-bottom: 15px;
  }

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.disabled {
  color: grey;
}

.carousel-indicators-numbers {
  margin-bottom: 0px !important;
  li {
    text-indent: 0;
    margin: 0 2px;
    width: 10px !important;
    height: 10px !important;
    border: 2px solid #d8d1c3 !important;
    border-radius: 100%;
    line-height: 10px;
    color: $white;;
    background-color: $white !important;
    transition: all 0.25s ease;
    &.active, &:hover {
      margin: 0 2px;
      width: 10px !important;
      height: 10px !important;
      background-color: #896c4d !important;  
      border: 2px solid #896c4d !important;
    }
  }
}

