.lecture-header {
  margin-bottom: 25px;
  .add-btn {
    text-align: right;
  }
  strong {
    font-size: 1.12em;
  }

}

form {
  .edit-lecture {
    .col-md-2 { width: 11% }
  }

  .add-lecture {
    .col-md-2 { width: 8.5% }
  }
}


// Media queries

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .lecture-header {
  }
}